In [126]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import json

In [176]:
#parse all the utf16-encoded file
directory = os.fsencode('Downloads/Info/')
    
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    json_name = filename[:-3] + "json"
    if filename.endswith(".txt"): 
        #print(os.path.join(directory_in_str, filename))
        #currfile = os.path.join(directory_in_str, filename)
        file1 = open('Downloads/Info/' + filename, 'r', encoding = 'utf-16-le')
        file2 = open('Downloads/tempfile/' + filename, 'w', encoding = 'utf-8')
        file3 = open('Downloads/newparsed/' + json_name, 'w', encoding = 'utf-8')
        for line in file1.readlines():
            if not (line.startswith('  "_id"')):
                if (line.startswith("}")):
                    file2.write(line + ",\n")
                elif (line.endswith('\\",')):
                    line = line[:-4] + ',"'
                    file2.write(line)
                else:
                    file2.write(line)
        file2.close()
        file1.close()

        file2 = open('Downloads/tempfile/' + filename, 'r')
        data2 = file2.read()
        size = len(data2)
        data2 = '[' + data2[1:size - 2] + ']'
        file3.write(data2)
        file3.close()
        continue
    else:
        continue

In [154]:
#parse all the ascii txt files
directory = os.fsencode('Downloads/Info-1/')
    
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    json_name = filename[:-3] + "json"
    if filename.endswith(".txt"): 
        #print(os.path.join(directory_in_str, filename))
        #currfile = os.path.join(directory_in_str, filename)
        file1 = open('Downloads/Info-1/' + filename, 'r')
        file2 = open('Downloads/tempfile/' + filename, 'w')
        file3 = open('Downloads/newparsed/' + json_name, 'w')
        for line in file1.readlines():
            if not (line.startswith('  "_id"')):
                if (line.startswith("}")):
                    file2.write(line + ",\n")
                elif (line.endswith('\\",')):
                    line = line[:-4] + ',"'
                    file2.write(line)
                else:
                    file2.write(line)
        file2.close()
        file1.close()

        file2 = open('Downloads/tempfile/' + filename, 'r')
        data2 = file2.read()
        size = len(data2)
        data2 = '[' + data2[1:size - 2] + ']'
        file3.write(data2)
        file3.close()
        continue
    else:
        continue

In [179]:
#create a directory with all dfs
directory_in_str = 'Downloads/newparsed/'
directory = os.fsencode(directory_in_str)
ddict = {}
'''
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".json"): 
        name = filename[:-4]
        #print(filename)
        currdf = pd.read_json('Downloads/newparsed/' + filename)
        ddict[name] = currdf
        #df1980.head(5)

'''
currnumber = 1980
for n in range(1980, 2016):
    name = n
    currdf = pd.read_json('Downloads/newparsed/' + str(currnumber) + '.json')
    currdf = currdf.filter(['Box_office', 'Country', 'Rated', 'imdbID', 'Director'], axis = 1)
    ddict[n] = currdf
    currnumber += 1;

#currdf = pd.read_json('Downloads/newparsed/1985.txt')
#ddict[1983].head(5)

In [182]:
ddict[2015].head(5)

,Box_office,Country,Rated,imdbID,Director
0,"652,177,271","USA, Japan",PG-13,tt0369610,Colin Trevorrow
1,"458,991,599",USA,PG-13,tt2395427,Joss Whedon
2,"356,454,367",USA,PG,tt2096673,"Pete Docter, Ronnie Del Carmen"
3,"350,034,110","USA, Japan, China",PG-13,tt2820852,James Wan
4,"336,029,560",USA,PG,tt2293640,"Kyle Balda, Pierre Coffin"

In [192]:
#ddict[2013].shape
dflist = []
for key in ddict:
    dflist.append(ddict[key])
wholedf = pd.concat(dflist)
wholedf.shape

(8873, 5)

In [56]:
meta_df = pd.read_csv('Desktop/meta_db.csv')
meta_df.head(5)

,movie_id,title,revs,release_date,budget,overview,tagline,runtime,lang,imdb_id,vote
0,862,Toy Story,373554033.0,1995-10-30,30000000.0,"Led by Woody, Andy's toys live happily in his ...",NaN,81.0,en,tt0114709,7.7
1,8844,Jumanji,262797249.0,1995-12-15,65000000.0,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,104.0,en,tt0113497,6.9
2,15602,Grumpier Old Men,0.0,1995-12-22,0.0,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,101.0,en,tt0113228,6.5
3,31357,Waiting to Exhale,81452156.0,1995-12-22,16000000.0,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,127.0,en,tt0114885,6.1
4,11862,Father of the Bride Part II,76578911.0,1995-02-10,0.0,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,106.0,en,tt0113041,5.7

In [53]:
meta_df.shape

(45466, 11)

In [193]:
merged_left = pd.merge(left = meta_df, right = wholedf, how = 'left', left_on = 'imdb_id', right_on='imdbID')
merged_left.head(5)

,movie_id,title,revs,release_date,budget,overview,tagline,runtime,lang,imdb_id,vote,Box_office,Country,Rated,imdbID,Director
0,862,Toy Story,373554033.0,1995-10-30,30000000.0,"Led by Woody, Andy's toys live happily in his ...",NaN,81.0,en,tt0114709,7.7,None,USA,G,tt0114709,John Lasseter
1,8844,Jumanji,262797249.0,1995-12-15,65000000.0,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,104.0,en,tt0113497,6.9,"2,740,000",USA,PG,tt0113497,Joe Johnston
2,15602,Grumpier Old Men,0.0,1995-12-22,0.0,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,101.0,en,tt0113228,6.5,"69,870,000",USA,PG-13,tt0113228,Howard Deutch
3,31357,Waiting to Exhale,81452156.0,1995-12-22,16000000.0,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,127.0,en,tt0114885,6.1,None,USA,R,tt0114885,Forest Whitaker
4,11862,Father of the Bride Part II,76578911.0,1995-02-10,0.0,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,106.0,en,tt0113041,5.7,None,USA,PG,tt0113041,Charles Shyer

In [194]:
merged_left.shape

(45475, 16)

In [195]:
merged_left.to_csv('meta_db_new.csv', encoding='utf-8')